numpy
scipy
joblib
pandas
scikit-learn
mne
wfdb
xgboost
opencv-python
torchsummary
tensorboardX
tqdm
gdown
biosppy
deprecated
torch-optimizer
IPython
pyEDFlib
PyWavelets
xmltodict
einops
matplotlib
seaborn
requests
accelerate
nitime
PyYAML
diff-binom-confint
